<div class="card border-dark mx-auto mb-3" style="max-width: 30rem;">
  <div class="card-header"><h4 align="center"><strong>Header</strong></h4></div>
  <div class="card-body">  
    <p class="card-text">
      <a class="btn btn-outline-dark" href="<%=new_coach_evaluation_path(@coach)%>" role="button">Make Evaluation</a>
      <hr><h5>Flagged:</h5>
        <ul>
          <% @flagged_evals.each do |e| %>
            <li><%= link_to "#{e.tryout.age_group}: #{e.tryout.player.name}", coach_evaluation_path(@coach, e) %> </li>
          <% end %>
        </ul><hr>
      <h5>Incomplete:</h5>
        <ul>
          <% @incomplete_evals.each do |e| %>
            <li><%= link_to "#{e.tryout.age_group}: #{e.tryout.player.name}", coach_evaluation_path(@coach, e) %> </li>
          <% end %>
        </ul><hr>
      <h5>Completed:</h5>
        <ul>
          <% @completed_evals.each do |e| %>
            <li><%= link_to "#{e.tryout.age_group}: #{e.tryout.player.name}", coach_evaluation_path(@coach, e) %> </li>
          <% end %>
        </ul><br>
        <a class="btn btn-outline-danger btn-sm" href="<%=coach_path(@coach)%>" role="button">Back</a>

    </p>
  </div>
</div>