 <div class="card border-dark mx-auto mb-3" style="max-width: 35rem;">
  <div class="card-header"><h3 align="center"><strong>Evaluation</strong></h3></div>
  <div class="card-body">  
    <p class="card-text">
        <%= link_to 'Edit', edit_coach_evaluation_path(@eval) %>
        <%= link_to 'Delete', coach_evaluation_path(@eval), method: :delete, data: {confirm: "Are you sure?"} %>
        <h5>Player: <em><%= @eval.tryout.player.name %></em> </h5><hr>
        <h5>Number: <em><%= @eval.tryout_id %> </em></h5><hr>
        <h5>By Coach: <em><%= @eval.coach.name %> </em></h5><hr>
        <h5>Total Score: <em><%= @eval.total_score %></em></h5><hr>
        <h5>Skill Score: <em><%= @eval.skill_score %></em> </h5><hr>
        <h5>Soft Skills Score: <em><%= @eval.soft_score %></em> </h5><hr>
        <h5>Recommended team: <% if @eval.team.present? %>
                                  <em><%= Team.find(@eval.team).name %></em>
                                  <% else %>
                                  <%= "" %>
                                  <% end %></h4><hr>
        <h5>Comments: <p><em><%= @eval.comments %></em></p> </h4><hr>
        <h5>Specific Scores:</h4>
        <ul>
          <li>Coachability: <em><%= @eval.coachability %></em> </li>
          <li>Athleticism: <em><%= @eval.athleticism %></em> </li>
          <li>Communication: <em><%= @eval.communication %></em> </li>
          <li>Volleyball IQ: <em><%= @eval.vball_iq %></em> </li>
          <li>Passing: <em><%= @eval.passing %></em> </li>
          <li>Serve Receive: <em><%= @eval.sr %></em> </li>
          <li>Hitting: <em><%= @eval.hitting %></em> </li>
          <li>Setting: <em><%= @eval.setting %></em> </li>
          <li>Serving: <em><%= @eval.serve %></em> </li>
        </ul><hr>
    </p>
    <p>    
    <%= link_to "All Evaluations by #{@eval.coach.name}", coach_evaluations_path(@eval.coach) %> <br>
    <%= link_to "All Evaluations for #{@eval.tryout.player.name}", tryout_evaluations_path(@eval.tryout) %>
    </p>
  </div>
</div>