<% if @team.errors %>
  <ul>
    <% @team.errors.full_messages.each do |m| %>
      <li style="color: red;"><%= m %> </li>
    <% end %>
  </ul>
<% end %>
<%= form_for @team do |f| %>
  <%= f.label "Age Group: "%>
  <%= f.text_field :age_group %>
  <%= f.label "Team Name: " %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>