
  <div class="card border-danger mx-auto mb-3" style="max-width: 30rem;">
  <div class="card-header"><h4 align="center"><strong><%= "#{@team.age_group}: #{@team.name}"%></strong></h4></div>
  <div class="card-body">
    <p class="card-text">


<% if can? :edit, @team %>
  <%= form_tag team_path(@team), {method: 'patch'} do %>
  <%= collection_select(:coach, :id, Coach.all, :id, :name, {prompt: true}, {required: true})%>
  <%= submit_tag "Add Coach", class: "btn btn-outline-success" %>
  <% end %>
  <br>
  <%= form_tag team_path(@team), {method: 'patch'} do %>
  <%= collection_select(:player, :id, @players, :id, :name, {prompt: true}, {required: true})%>
  <%= submit_tag "Add Player", class: "btn btn-outline-success" %>
  <% end %><br><hr><br>
<% end %>

<h4><strong>Coaches:</strong></h4>
  <ul>
    <% @team.coaches.each do |c| %>
      <li><%= c.name %> 
        <% if can? :edit, @team %>
          <%= form_tag team_remove_path, {method: 'patch'} do %>
          <%= hidden_field_tag("coach_id", "#{c.id}") %>
          <button type="submit" class="btn btn-outline-danger">Remove</button>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul><br><hr><br>
<h5><strong>Players:</strong></h5>
  <ul>
    <% @team.players.each do |p| %>
      <li><%= p.name %> </li>
        <% if can? :edit, @team %>
          <%= form_tag team_remove_path, {method: 'patch'} do %>
          <%= hidden_field_tag("player_id", "#{p.id}") %>
          <button type="submit" class="btn btn-outline-danger">Remove</button>
          <% end %>
        <% end %>
    <% end %>
  </ul>
    </p><br>
    <p>
    <% if can? :edit, @team %>
      <%= link_to 'Edit Team Info', edit_team_path(@team), class: "btn btn-outline-info" %> 
    <% end %>
    <a class="btn btn-outline-info" href="<%=teams_path%>" role="button">Back</a>
    </p>
  </div>
      


</div>
