  <div class="card border-dark mb-3 mx-auto" style="max-width: 30rem;">
  <div class="card-header"><h4 align="center"><strong><%= @tryout.player.name %></strong></h4>
  <div class="card-body">  
    <p class="card-text">
   <h5><strong>Player Info</h5></strong>
    <li>Reach: <em><%= @tryout.reach.present? ? "#{@tryout.reach} cm" : "pending" %></em></li>
    <li>Approach Jump: <em> <%= @tryout.approach_jump.present? ? "#{@tryout.approach_jump} cm" : "pending" %></em></li>
    <li>Block Jump: <em><%= @tryout.block_jump.present? ? "#{@tryout.block_jump} cm" : "pending" %></em> </li>
    <li>3 Point Touch: <em><%= @tryout.point_touch.present? ? "#{@tryout.point_touch} seconds" : "pending" %></em> </li>
    <li>30 Feet Dash:<em><%= @tryout.dash.present? ? "#{@tryout.dash} seconds" : "pending" %></em></li>

    <hr><h5><strong>Season</strong></h5><br>
    <li><%= @tryout.season %></li>

    <hr><h5><strong>Age Group</strong></h5><br>
    <li><%= @tryout.age_group %></li>

    <hr><h5><strong>Forms</strong></h5><br>
    <li><%= @tryout.forms_completed ? "Completed" : "Not Compeleted" %></li>

    <hr><h5><strong>Tryout Fees</strong></h5><br>
    <li><%= @tryout.paid ? "Paid" : "Not Paid"%></li>
    </p><hr>
    <p>
    <% if can? :edit, @tryout %>
       <a class="dropdown-item" href="<%=edit_tryout_path(@tryout)%>">Clear for Tryouts</a>
      <% end %>
      <%= link_to("Cancel My Tryout", cancel_tryout_path(@tryout), method: :delete, class: "dropdown-item") %>
      <a class="dropdown-item"href="<%=player_path(@tryout.player)%>">Back to Player's Info</a>
    </p>
  </div>
</div>