
<%= render 'error' %>
<div class="card border-dark mb-3 mx-auto" style="max-width: 30rem;">
  <div class="card-header mx-auto"><h4><strong>Edit Coach<strong></h4></div>
  <div class="card-body">  
    <p class="card-text">
      <%= form_for @coach do |f| %>
        <%= f.label "name: "%>
        <%= f.text_field :name %> <br>
        <%= f.label "email: "%>
        <%= f.text_field :email %> <br>
        <%= f.label "data janitor "%>
        <%= f.check_box :admin %> <br>
        <button type="submit" class="btn btn-outline-success btn-sm">Update</button>
      <% end %>
    </p>
  </div>
</div>