
<div class="card border-dark mx-auto mb-3" style="max-width: 30rem;">
  <div class="card-header mx-auto"><strong>All Coaches</strong></div>
  <div class="card-body">  
    <p class="card-text">
      <% if can? :edit, @coaches %>
        <ul>
          <% @coaches.each do |c| %>
            <li><strong><%= link_to c.name, coach_path(c) %></strong>
                <em><%= link_to 'Edit', edit_coach_path(c) %></em>
                <em><%= link_to 'Delete', coach_path(c), method: "delete", data: {confirm: "Are you sure?"} %></em> </li>
          <% end %>
        </ul>
      <% else %>
        <ul>
          <% @coaches.each do |c| %>
            <li> <%= c.name %> </li>
          <% end %>
        </ul> 
      <% end %>
    </p> 
    <% if can? :new, @coaches %>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-outline-info btn-sm" href="<%=new_coach_path%>" role="button">New Coach</a>
      <% end %>
  </div>
</div>