<h1>New Coach Form</h1>
<%= render 'error' %>
<%= form_for @coach do |f| %>
  <%= f.label "name: "%>
  <%= f.text_field :name %> <br>
  <%= f.label "email: "%>
  <%= f.text_field :email %> <br>
  <%= f.label "password: "%>
  <%= f.password_field :password %> <br>
  <%= f.submit 'Done!' %>
<% end %>