<div class="card border-danger mb-3 mx-auto" style="max-width: 35rem;">
  <div class="card-header"><h4><strong><%=@coach.name%></strong></h4>
    <em><%=@coach.email%></em>
  </div>
  <div class="card-body">
    <p class="card-text">
<p><div class="btn-group" role="group" aria-label="Button group with nested dropdown">
 <button type="button" class="btn btn-outline-info btn-sm">Evaluation</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
      <a class="dropdown-item" href="<%=new_coach_evaluation_path(@coach)%>">Make Evaluation</a>
      <a class="dropdown-item" href="<%=coach_evaluations_path(@coach)%>">My Evaluations</a>
    </div>
  </div></p>
</div></p>

<%= form_tag add_group_coach_path(@coach), method: "post" do %>
  <%= collection_select(nil, :age_group, Team.all.map{|t| t.age_group}.uniq, :itself, :itself, {prompt: "Age Group"} ) %>
  <div class="btn-group" role="group" aria-label="Basic example">
  <button type="submit" class="btn btn-success btn-sm">Flag Entire Age Group</button>
  <button type="submit" class="btn btn-warning btn-sm">Unflag All</button>
  <%= form_tag coach_evaluations_path(@coach), method: "delete" do %>
  <%= hidden_field_tag :incomplete, "delete" %>
  <button type="submit" class="btn btn-danger btn-sm">Delete Incomplete</button>
<% end %>
  
  </div>
<% end %>


 <hr>
<%= form_tag coach_path(@coach), method: "get" do %>
  <%= text_field_tag 'player' %>
  <button type="submit" class="btn btn-outline-primary btn-sm">Search For Player</button>
<% end %><br>

<%= form_tag delete_tryouts_path(@coach), method: "delete", data: {confirm: "Are you sure?"} do %>
  <%= text_field_tag :season %>
  <button type="submit" class="btn btn-outline-danger btn-sm">Delete Season</button>
<% end %><br>

<% if @tryouts %>
  <p><strong>Search Result:</strong></p>
  <% @tryouts.each do |t| %>
    <%= link_to "#{t.id}: #{t.player.name}", tryout_path(t) %> 
    <%= form_tag  coach_path(@coach), method: "get" do %>
    <%= hidden_field_tag :flag, t.player_id %>
    <button type="submit" class="btn btn-success btn-sm">Flag Player</button>
    <% end %>
    <br>
  <% end %>
<% end %>

<hr>

<%= form_tag(view_results_path, {method: "get"}) do %>
  <label><strong>View Age Group Results:</strong></label><br>
  <%= collection_radio_buttons(nil, :q, Team.all.map {|t| t.age_group }.uniq, :itself, :itself ) %><br>
  <button type="submit" class="btn btn-info btn-sm">View Result</button>
<% end %>

    </p>
  </div>
</div>