<div class="card border-danger mb-3 mx-auto" style="max-width: 35rem;">
  <div class="card-header"><h4><strong><%=@coach.name%></strong></h4>
    <em><%=@coach.email%></em>
  </div>
  <div class="card-body">
    <p class="card-text">
<p><div class="btn-group btn-sm" role="group" aria-label="Button group with nested dropdown">
  <div class="btn-group btn-sm">
  <a class="btn btn-outline-success btn-sm" href="<%=tryouts_path%>" role="button">All Tryout Players</a>
  <a class="btn btn-outline-info btn-sm" href="<%=players_path%>" role="button">All Registered Payers</a>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
</div>
 <button type="button" class="btn btn-outline-dark btn-sm">Evaluation</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-outline-dark dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
      <a class="dropdown-item" href="<%=new_coach_evaluation_path(@coach)%>">Make Evaluation</a>
      <a class="dropdown-item" href="<%=coach_evaluations_path(@coach)%>">My Evaluations</a>
    </div>
  </div></p>
</div></p><hr>

<div class="btn-group" role="group" aria-label="Basic example">
<%= form_tag add_group_coach_path(@coach), method: "post"  do %>
  <%= collection_select(nil, :age_group, Team.all.map{|t| t.age_group}.uniq, :itself, :itself, {prompt: "Age Group"} ) %>
  <%= submit_tag "Flag Entire Age Group", class: "btn btn-success btn-sm" %>
<% end %>
<%= link_to 'Unflag All', unflag_coach_path, method: "post", class: "btn btn-warning btn-sm" %>

<%= form_tag coach_evaluations_path(@coach), method: "delete" do %>
  <%= hidden_field_tag :incomplete, "delete" %>
  <%= submit_tag "Delete Incomplete" , class: "btn btn-danger btn-sm" %>
<% end %>
</div>

 <hr>
<%= form_tag coach_path(@coach), method: "get" do %>
  <%= text_field_tag 'player', nil ,required: true %> 
  <button type="submit" class="btn btn-outline-primary btn-sm">Search For Player</button>
<% end %><br>

<% if can? :destroy, Tryout %>
  <%= form_tag delete_tryouts_path(@coach), method: "delete", data: {confirm: "Are you sure?"} do %>
    <%= text_field_tag :season %>
    <button type="submit" class="btn btn-outline-danger btn-sm">Delete Tryout Season</button>
  <% end %><br>
<% end %>

<p><strong>Search Result:</strong></p>
  <% if @tryouts.present? %>
    <% @tryouts.each do |t| %>
      <%= link_to "#{t.id}: #{t.player.name}", tryout_path(t) %> 
      <%= form_tag coach_path(@coach), method: "get" do %>
      <%= hidden_field_tag :flag, t.player_id %>
      <button type="submit" class="btn btn-success btn-sm">Flag Player</button>
      <% end %>
      <br>
      <% end %>
<% elsif @error.present? %>
    <p><strong><%= @error%></strong></p>
<% end %>

<hr>

<%= form_tag(view_results_path, {method: "get"}) do %>
  <label><strong>View Age Group Results:</strong></label><br>
  <%= collection_radio_buttons(nil, :q, Team.all.map {|t| t.age_group }.uniq, :itself, :itself ) %><br>
  <button type="submit" class="btn btn-info btn-sm">View Result</button>
<% end %>

    </p>
  </div>
</div>