<h1>New Player Registration:</h1>
<%= render 'errors' %>
<%= form_for @player do |f| %>
  <%= f.label "Name: "%>
  <%= f.text_field :name %> <br>
  <%= f.label "Enter a password: "%>
  <%= f.password_field :password %> <br>
  <%= f.submit 'Done!' %>
<% end %>