<H1>Player's Page</H1>
<%= link_to 'Edit Profile', edit_player_path(@player) %>
<%= link_to('Delete Profile', player_path(@player), method: :delete, data: {confirm: "This will delete your registration. Are you sure?"}) %>
<h3>Player: <%=@player.name%></h3>
<!--
 put in picture
-->
<h3>My Info:</h3>
  <ul>
    <li>Hitting Hand: <%= @player.hand %> </li>
    <li>Birthday: <%= if @player.birthday.present?
                        @player.birthday.strftime('%Y-%m-%d') 
                      end %> </li>
    <li>School: <%= @player.school %> </li>
    <li>Height: <%= @player.height %> </li>
    <li>Primary Position: <%= @player.position_1 %> </li>
    <li>Secondary Position: <%= @player.position_2 %> </li>
  </ul>
<h3>Parent Contact:</h3>
  <ul>
    <li>Name: <%= @player.parent_name %> </li>
    <li>Cell: <%= @player.parent_number %> </li>
    <li>Address: <%= @player.parent_address %> </li>
  </ul>
<h3>My Playing Experience: </h3>
<p> <%= @player.playing_experience %> </p>
<h3>About Me: </h3>
<p> <%= @player.additional_comments %> </p>

